<div class="post">
    <div class="post_header">
        <h1><a href="#"></a>Name</h1>
        <div class="author-wrap">
            Author:
            <a class="author" href="#">Kostya</a>
        </div>
        <div class="time" >21:05 15.01.2016</div>
    </div>
    <a data-bind="attr : { href: 'article_detail.html'+'#'+$index() }">
        <img src="app/static/images/dist/1p.jpg">
    </a>
    <div class="post_main">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt iure est ex sint doloremqus veritatis blanditiis labore. Laudantium, reprehenderit voluptatem ratione commodi? Reiciendis.</div>
    <div class="post_footer">
        <div class="input-group">
            <select class="form-control" name="" id=""><option value="1">1</option></select>
            <span class="input-group-addon">★</span>
        </div>
    </div>
</div>
