header
    text-align right
    a
        display inline-block
        padding 15px
        color #919292
        &:hover
            color darken(#919292, 20)
            background-color RGBA(0,0,0,.1)
